@font-face {
    font-family: 'Gmarket Sans TTF';
    src: url('GmarketSansTTFMedium.woff2') format('woff2'),
        url('GmarketSansTTFMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    border: 1px solid #FFBDBD;
    margin: auto;
    /* min-width: 700px; */
    border-radius: 10px;

}

header,
.left1,
.left2,
.right1,
.right2,
.right3,
h2 {
    padding-bottom: 10px;

}

html {
    background-color: #FCF9EA;

}

body {
    font-family: 'Gmarket Sans TTF';
}

header {
    border-bottom: 1px solid #FFBDBD;

}

.topHead {
    display: flex;
    flex-direction: row;
}

h1 {
    color: #FFA4A4;
    padding: 20px;

}

p {
    padding-left: 20px;
}

h2 {
    color: #FFA4A4;
    border-bottom: 1px dashed #FFBDBD;
    margin-bottom: 10px;
    padding-left: 20px;
}

h2:hover {
    color: #FFA4A4;
    transition: 0.2s;
}

h2 i {
    margin-right: 5px;
}

a:link {
    color: #999;
}

a:hover {
    color: #FFBDBD;
}

/* .mung {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto 50px;

} */

.dal {
    display: flex;
    flex-wrap: wrap;
}

.leftDal {
    display: flex;
    align-items: center;
}

.left2 {
    position: relative;
}

.leftDal ul {
    word-break: keep-all;
    white-space: normal;
}

.rightDal {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.dal img {
    /* margin-left: 10px; */
    /* max-width: 220px; */
    margin: 10px;
    border-radius: 10px;

}

.dal ul {
    padding-left: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: stretch; */
    flex-wrap: nowrap;
}

.main-left,
.main-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    /* flex-shrink: 0; */

}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-left {
    border-right: 1px solid #FFA4A4;

}

.right1,
.right2,
.left1 {
    border-bottom: 1px solid #FFA4A4;
}

footer {
    border-top: 1px solid #FFA4A4;
    text-align: center;
    padding: 30px 0;
    color: #777;
    font-size: 14px;
}

.left1 figure {
    padding-left: 20px;

}

figure img,
button {
    border-radius: 10px;
}

button {
    background-color: #FFA4A4;
    border-color: #FCF9EA;
    color: #FCF9EA;
    margin: 20px 0px 30px 0px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    transform-origin: center;

}

button:hover {
    background-color: #FFBDBD;
    transform: scale(1.05);
}

button:active {
    background-color: #FCF9EA;
    color: #FFBDBD;
    transform: scale(0.95);
}

@media (max-width:820px) {
    .content {
        flex-direction: column;
    }

    .main-left,
    .main-right {
        width: auto;
    }

    .main-left {
        border-right: none;
    }

    .container {
        width: 90%;

        max-width: 700px;
        margin: auto;
    }

    .right1 {
        border-top: 1px solid #FFA4A4;
        padding-top: 20px;
    }

    /* .mung {
        display: flex;
        justify-content: center;
        gap: 10px;
    } */

    .mung img {
        max-width: 150px;
        height: auto;
    }

    .dal {
        flex-direction: column;
    }
    .rightDal{
            position: static;
            text-align: center;
            order:2;
    }

    .leftDal { 
        order:1;
    }


}

/*BADFDB
FFBDBD
*/